#*/bin
!*/bin/Debug/net4
!*/bin/Release/net4
*/obj
*/nuget

API Reference.shfbproj_jp
Help

*.sublime-workspace
*.user
*.suo
*.nupkg
.gitignore
NuGetPackages
Releases
project.lock.json
project.multitarget.json

API_Reference_HTML.shfbproj_jp
CHM
HTML
API_Reference_CHM.shfbproj_jp
.DS_Store
.vs

FluentFTP.Tests/testdata
*.yaml
/Powershell/FluentFTP.dll
/FluentFTP.copy
FluentFTP/FluentFTP.sln
*.ncrunchsolution
*.bak
